HARDHAT_INFURA_PROJECT_KEY=
HARDHAT_ETHERSCAN_API_KEY=
HARDHAT_POLYGONSCAN_API_KEY=

# ChainLink VRF Coordinator V2 on Polygon.
CHAINLINK_VRF_COORDINATOR=0xAE975071Be8F8eE67addBC1A82488F1C24858067

# This account gets the initial ELOT supply.
ETHERNALOTTO_OWNER=

# In testing this can be set to 0.
ETHERNALOTTO_CONFIRMATIONS=3

# Set this to a negative value to retry every action forever and defeat gas price changes that may
# occur during deployment.
ETHERNALOTTO_DEPLOYMENT_ATTEMPTS=1

# This must be set to the private key used for deployment.
ETHERNALOTTO_DEPLOYER=
